---
- name: Create directory for acme-dns configuration
  ansible.builtin.file:
    path: "{{ dehydrated.prefix.config }}/acme-dns"
    state: directory
    mode: "0700"
    owner: root
    group: "{{ root_group }}"

- name: Template acme-dns configuration
  ansible.builtin.copy:
    content: "{{ item.value }}"
    dest: "{{ dest }}"
    mode: "0600"
    owner: root
    group: "{{ root_group }}"
  loop_control:
    label: "{{ dest }}"
  vars:
    dest: "{{ dehydrated.prefix.config }}/acme-dns/{{ item.key }}.json"
  with_dict: "{{ dehydrated.acme_dns }}"
