---
- name: Create directory for acme-cache configuration
  ansible.builtin.file:
    path: "{{ dehydrated.prefix.config }}/acme-cache"
    state: directory
    mode: "0700"
    owner: root
    group: "{{ root_group }}"

- name: Template acme-cache configuration
  ansible.builtin.copy:
    content: "{{ item.value }}"
    dest: "{{ dest }}"
    mode: "0600"
    owner: root
    group: "{{ root_group }}"
  loop_control:
    label: "{{ dest }}"
  vars:
    dest: "{{ dehydrated.prefix.config }}/acme-cache/{{ item.key }}.json"
  loop: "{{ dehydrated.acme_cache | dict2items }}"
