---
- name: Provide dummy certificates
  ansible.builtin.include_tasks: dummy_cert.yaml
  loop_control:
    loop_var: cert_name
  vars:
    cert_prefix: "{{ dehydrated.prefix.certs }}/{{ cert_name }}"
  loop: "{{ dehydrated.domains.keys() | list }}"
  when: dehydrated.provide_dummy_cert

- name: Template domains file
  ansible.builtin.template:
    src: domains.txt
    dest: "{{ dehydrated.prefix.config }}/domains.txt"
    owner: root
    group: "{{ root_group }}"
    mode: "0755"
  notify:
    - Reload httpd service (and dehydrated certificates) before running dehydrated
    - Run dehydrated
    - Reload httpd service (and dehydrated certificates) after running dehydrated
