---
- name: Create dummy certificate directory
  ansible.builtin.file:
    path: "{{ cert_prefix }}"
    state: directory
    mode: "0700"

- name: Copy dummy certificate and key
  ansible.builtin.copy:
    content: "{{ item.content }}"
    dest: "{{ item.dest }}"
    force: no
    mode: 0600
  loop_control:
    label: "{{ item.dest }}"
  loop:
    - dest: "{{ cert_prefix }}/fullchain.pem"
      content: "{{ dehydrated.dummy_cert }}"
    - dest: "{{ cert_prefix }}/fullchainandprivkey.pem"
      content: |
        {{ dehydrated.dummy_cert }}
        {{ dehydrated.dummy_key }}
    - dest: "{{ cert_prefix }}/chain.pem"
      content: "{{ dehydrated.dummy_cert }}"
    - dest: "{{ cert_prefix }}/privkey.pem"
      content: "{{ dehydrated.dummy_key }}"
  notify:
    - Reload httpd service (and dehydrated certificates) before running dehydrated
    - Run dehydrated
    - Reload httpd service (and dehydrated certificates) after running dehydrated
