---
- name: Install epel-release
  when: "ansible_facts['os_family'] == 'RedHat'"
  ansible.builtin.package:
    name: epel-release

- name: Update apt cache
  when: "ansible_facts['os_family'] == 'Debian'"
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install dehydrated
  ansible.builtin.package:
    name:
      - jq
      - dehydrated

- name: Install dehydrated systemd units
  vars:
    dest: "/etc/systemd/system/{{ item }}"
  loop:
    - dehydrated.service
    - dehydrated.timer
  ansible.builtin.template:
    src: "systemd/{{ item }}"
    dest: "{{ dest }}"
    mode: "0644"
    owner: root
    group: "{{ root_group }}"

- name: Enable and start dehydrated systemd timer
  loop:
    - dehydrated.timer
  ansible.builtin.systemd:
    daemon_reload: yes
    name: "{{ item }}"
    enabled: yes
    state: started
