---
- name: Reload httpd service (and dehydrated certificates) before running dehydrated
  ansible.builtin.service:
    name: "{{ dehydrated.httpd_service.name }}"
    state: "{{ dehydrated.httpd_service.state }}"
  when: dehydrated.domains | length > 0 and dehydrated.httpd_service.name is defined

- name: Run dehydrated
  changed_when: yes
  ansible.builtin.command:
    cmd: "{{ dehydrated.command }}"
  when: dehydrated.domains | length > 0 and not dehydrated.disable_renewal

- name: Reload httpd service (and dehydrated certificates) after running dehydrated
  ansible.builtin.service:
    name: "{{ dehydrated.httpd_service.name }}"
    state: "{{ dehydrated.httpd_service.state }}"
  when: dehydrated.domains | length > 0 and dehydrated.httpd_service.name is defined
